### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
node_modules
pnpm-lock.yaml
### Example user template template
### Example user template

jdCookie.js
magic.json
JDCookies.txt
activeId.py
app.*
package-lock.json
